.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 320px;

    h2 {
        font-size: 1.7rem;
        margin: 10px 0;
        color: rgb(109, 167, 255);
    }
    span {
        color: rgb(178, 209, 255);
    }
}