body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
h1, span {
  color: rgb(216, 216, 216);
}
* {
  box-sizing: border-box;
}